<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<p>Hi <span th:text="${firstname}"></span></p>

<p>
    You have been added to <a href="https://myvote.be/login">myvote.be</a> with following credentials:
</p>

<table>
    <tr>
        <th>email</th>
        <td><span th:text="${email}"></span></td>
    </tr>
    <tr>
        <th>password</th>
        <td><span th:text="${password}"></span></td>
    </tr>
</table>
</body>
</html>